<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Product-Order Management System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <button class="btn btn-outline-success my-2 my-sm-0" data-bs-toggle="modal" data-bs-target="#addOrder"
        type="submit">Add Order </button>
    </div>
  </nav>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Invoice_number</th>
        <th scope="col">Invoice_Date</th>
        <th scope="col">Received_Name</th>
        <th scope="col">Adress</th>
        <th scope="col">S_No</th>
        <th scope="col">Item</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Total</th>
        <th scope="col">CGST</th>
        <th scope="col">SGST</th>
        <th scope="col">Total_Tax</th>
        <th scope="col">Net_Total</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of orderData">
        <td>{{row.Invoice_Number}}</td>
        <td>{{row.Invoice_Date}}</td>
        <td>{{row.Received_Name}}</td>
        <td>{{row.Address}}</td>
        <td>{{row.S_No}}</td>
        <td>{{row.Item}}</td>
        <td>{{row.Quantity}}</td>
        <td>{{row.Price}}</td>
        <td>{{row.Total}}</td>
        <td>{{row.CGST}}</td>
        <td>{{row.SGST}}</td>
        <td>{{row.Total_Tax}}</td>
        <td>{{row.Net_Total}}</td>
        <td>
          <button (click)="onEdit(row)" class="btn btn-info" data-bs-toggle="modal"
            data-bs-target="#updateOrder">Edit</button>
          <button class="btn btn-danger mx-3" (click)="deleteOrder(row)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- add order modal -->
  <div class="modal fade" id="addOrder" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Order Details</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]=" orderDetails ">
            <div class="form-group">
              <label for="Invoice_Date">Invoice_Date</label>
              <input type="date" formControlName="Invoice_Date" class="form-control" id="Invoice_Date"
                aria-describedby="Invoice_Date">
              <div
                *ngIf="orderDetails.controls.Invoice_Date.invalid && (orderDetails.controls.Invoice_Date.dirty || orderDetails.controls.Invoice_Date.touched)"
                class="error">
                <div *ngIf="orderDetails.controls.Invoice_Date.hasError('required')" class="text-danger">Invoice_Date is
                  required
                </div>

              </div>
            </div>

            <div class="form-group">
              <label for="Received_Name">Received_Name</label>
              <input type="text" formControlName="Received_Name" class="form-control" id="Received_Name"
                aria-describedby="Received_Name">
              <div
                *ngIf="orderDetails.controls.Received_Name.invalid && (orderDetails.controls.Received_Name.dirty || orderDetails.controls.Received_Name.touched)"
                class="error">

                <div *ngIf="orderDetails.controls.Received_Name.hasError('pattern')" class="text-danger">Received_Name
                  must contain only
                  alphs numarics</div>

                <div *ngIf="orderDetails.controls.Received_Name.hasError('required')" class="text-danger">Received_Name
                  is required
                </div>

              </div>
            </div>

            <div class="form-group">
              <label for="Address">Address</label>
              <input type="String" formControlName="Address" class="form-control" id="Address"
                aria-describedby="Address">
            </div>

            <div class="form-group">
              <label for="exampleInputSNo">S No</label>
              <input type="Number" formControlName="S_No" class="form-control" id="SNo" aria-describedby="SNo">
            </div>

            <div mdbDropdown class="dropdown">
              <label for="cars">Select Item </label>&nbsp;
              <br>
              <select name="cars" formControlName="Item" id="cars">
                <option value="Redmi">Redmi</option>
                <option value="Realme">Realme</option>
                <option value="Samsung">Samsung</option>
                <option value="Vivo">Vivo</option>
                <option value="Nokia">Nokia</option>
                <option value="Oppo">Oppo</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleInputQunatity">Quantity</label>
              <input type="Number" formControlName="Quantity" class="form-control" id="Quanity"
                aria-describedby="quantity" placeholder="select quantity">
            </div>
            <div class="form-group">
              <label for="examplePrice">Price</label>
              <input type="text" formControlName="Price" class="form-control" id="price" aria-describedby="price"
                placeholder="enter price">
            </div>

            <div class="form-group">
              <label for="CGST">CGST %</label>
              <input type="number" formControlName="CGST" class="form-control" id="CGST" aria-describedby="CGST"
                placeholder="CGST">
            </div>

            <div class="form-group">
              <label for="CGST">SGST %</label>
              <input type="number" formControlName="SGST" class="form-control" id="SGST" aria-describedby="SGST"
                placeholder="SGST">
            </div>

            <div class="modal-footer">
              <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" (click)="addOrder()" [disabled]="orderDetails.invalid">Add
              </button>

            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
  <!-----edit order Modal-->
  <div class="modal fade" id="updateOrder" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Order Details</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]=" orderDetails ">

            <div class="form-group">
              <label for="Invoice_Number">Invoice_Number</label>
              <input type="number" formControlName="Invoice_Number" class="form-control" id="Invoice_Number"
                aria-describedby="Invoice_Number">
            </div>

            <div class="form-group">
              <label for="Invoice_Date">Invoice_Date</label>
              <input type="date" formControlName="Invoice_Date" class="form-control" id="Invoice_Date"
                aria-describedby="Invoice_Date">
              <div
                *ngIf="orderDetails.controls.Invoice_Date.invalid && (orderDetails.controls.Invoice_Date.dirty || orderDetails.controls.Invoice_Date.touched)"
                class="error">
                <div *ngIf="orderDetails.controls.Invoice_Date.hasError('required')" class="text-danger">Invoice_Date is
                  required
                </div>

              </div>
            </div>

            <div class="form-group">
              <label for="Received_Name">Received_Name</label>
              <input type="text" formControlName="Received_Name" class="form-control" id="Received_Name"
                aria-describedby="Received_Name">
              <div
                *ngIf="orderDetails.controls.Received_Name.invalid && (orderDetails.controls.Received_Name.dirty || orderDetails.controls.Received_Name.touched)"
                class="error">

                <div *ngIf="orderDetails.controls.Received_Name.hasError('pattern')" class="text-danger">Received_Name
                  must contain only
                  alphs numarics</div>

                <div *ngIf="orderDetails.controls.Received_Name.hasError('required')" class="text-danger">Received_Name
                  is required
                </div>

              </div>
            </div>

            <div class="form-group">
              <label for="Address">Address</label>
              <input type="String" formControlName="Address" class="form-control" id="Address"
                aria-describedby="Address">
            </div>

            <div class="form-group">
              <label for="exampleInputSNo">S No</label>
              <input type="Number" formControlName="S_No" class="form-control" id="SNo" aria-describedby="SNo">
            </div>

            <div mdbDropdown class="dropdown">
              <label for="cars">Select Item </label>&nbsp;
              <br>
              <select name="cars" formControlName="Item" id="cars">
                <option value="Redmi">Redmi</option>
                <option value="Realme">Realme</option>
                <option value="Samsung">Samsung</option>
                <option value="Vivo">Vivo</option>
                <option value="Nokia">Nokia</option>
                <option value="Oppo">Oppo</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleInputQunatity">Quantity</label>
              <input type="Number" formControlName="Quantity" class="form-control" id="Quanity"
                aria-describedby="quantity" placeholder="select quantity">
            </div>
            <div class="form-group">
              <label for="examplePrice">Price</label>
              <input type="text" formControlName="Price" class="form-control" id="price" aria-describedby="price"
                placeholder="enter price">
            </div>

            <div class="form-group">
              <label for="CGST">CGST</label>
              <input type="number" formControlName="CGST" class="form-control" id="CGST" aria-describedby="CGST"
                placeholder="CGST">
            </div>

            <div class="form-group">
              <label for="CGST">SGST</label>
              <input type="number" formControlName="SGST" class="form-control" id="SGST" aria-describedby="SGST"
                placeholder="SGST">
            </div>

            <div class="modal-footer">
              <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" [disabled]="orderDetails.invalid" class="btn btn-primary"
                (click)="updateOrder()">Update </button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>