<h1>order-details are : </h1>
<table>
        <tr>
            <th scope="col">Invoice_number</th>
            <td>:</td>
            <td>{{product.Invoice_Number}}</td>
        </tr>
        <tr>
            <th scope="col">Invoice_Date</th>
            <td>:</td>
            <td>{{product.Invoice_Date}}</td>
        </tr>
        <tr>
            <th scope="col">Received_Name</th>
            <td>:</td>
            <td>{{product.Received_Name}}</td>
        </tr>
        <tr>
            <th scope="col">Address</th>
            <td>:</td>
            <td>{{product.Address}}</td>
        </tr>
        <tr>
            <th scope="col">S_No</th>
            <td>:</td>
            <td>{{product.S_No}}</td>
        </tr>
        <tr>
            <th scope="col">Item</th>
            <td>:</td>
            <td>{{product.Item}}</td>
        </tr>
        <tr>
            <th scope="col">Quantity</th>
            <td>:</td>
            <td>{{product.Quantity}}</td>
        </tr>
        <tr>
            <th scope="col">Price</th>
            <td>:</td>
            <td>{{product.Price}}</td>
        </tr>
        <tr>
            <th scope="col">Total</th>
            <td>:</td>
            <td>{{product.Total}}</td>
        </tr>
        <tr>
            <th scope="col">CGST%</th>
            <td>:</td>
            <td>{{product.CGST}}</td>
        </tr>
        <tr>
            <th scope="col">SGST%</th>
            <td>:</td>
            <td>{{product.SGST}}</td>
        </tr>
        <tr>
            <th scope="col">Total_Tax</th>
            <td>:</td>
            <td>{{product.Total_Tax}}</td>
        </tr>
        <tr>
            <th scope="col">Net_Total</th>
            <td>:</td>
            <td>{{product.Net_Total}}</td>
        </tr>
    
    
  </table>